
@{
    ViewData["Title"] = "Management";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Wel come to the Dashboard </h1>

            <a href="@Url.Action("Index","Products")" class="btn btn-danger">Product Setup </a>

            <br />

            <a href="@Url.Action("Index","Suppliers")" class="btn btn-danger">Suppliers Setup </a>

            <br />
            <a href="@Url.Action("Index","Orders")" class="btn btn-danger">Order Setup</a>

            <br />



        </div>

    </div>

</div>