
@{
    ViewData["Title"] = "Mistake";
}

<h1>Mistake</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Invalid User name or Password</h1>

            <a href="@Url.Action("Create","Owners")">Back to Login</a>
        </div>

    </div>

</div>