@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://i.ytimg.com/vi/p_rtdPtdmAU/maxresdefault.jpg" alt="First slide">

            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/feed/feednavigator.com/article/2021/04/22/indoor-feed-technology-provider-in-deal-with-us-dairy-farm/12388049-1-eng-GB/Indoor-feed-technology-provider-in-deal-with-US-dairy-farm_wrbm_large.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                
                <img class="d-block w-100" src="http://s3-wp-lyleprintingandp.netdna-ssl.com/wp-content/uploads/2017/06/05050021/holstein-cattle-2318436_1280.jpg"  />
            </div>
        </div>
    </div>
</div>
